#main-container {
    display:flex;
    flex-direction: row;

    background:var(--background);
    width:100%;
    height:100vh;

    margin:0;
    padding:0;
}

/* #region sidebar */
#sidebar {
    overflow-y:scroll;

    width:30vw;

    background:var(--secondary);
}

/* #region search */
#search {
    display:flex;
    justify-content: center;
    align-items: center;

    border-color:var(--accent) !important;
    border:solid;
    border-width:0;
    border-bottom-width:2px;

    height:5rem; /* same as 3ch */
}

#search #input-section {
    overflow:hidden;

    display:flex;
    justify-content: left;
    align-items: center;

    background:var(--background);

    margin: 0 0.5rem;
    padding:0 1em;
    width: calc(100% - calc(2 * 1.5em));
    height:60%;

    border-radius:1000px;
}

#search #input-section img {
    height:1.5rem;
    aspect-ratio: 1 !important;

    transition-duration:0.3s;
}

#search #input-section input:focus + img {
    transform:translateX(5rem);
}

#search #input-section input {
    outline:none;

    width: 100%;

    font-size:1.5rem;
    font-weight:lighter;
    color:var(--text);

    text-overflow: ellipsis;

    margin:0;
    padding:0;

    border:none;
    background:none;
}
/* #endregion */

.sidebar-profile {
    overflow:hidden;

    cursor:pointer;

    display:flex;
    justify-content: left;
    align-items:center;

    height:5rem;
    width: 100%;

    border-color:var(--border-color) !important;
    border:solid;
    border-width:0;
    border-bottom-width: 1px;

    transition-duration:0.2s;
}

.sidebar-profile:hover {
    background:#29292955;
}

.sidebar-profile #user-info {
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    height:100%;
    width: calc(100% - 5rem - 1rem);

    /* margin-right:5rem !important; */
}

.sidebar-profile #user-info h1 {
    font-size: 1.4em !important;
    margin-bottom:0.3rem;

    opacity: 0.7;
}

.sidebar-profile #user-info span {
    display:flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.sidebar-profile #user-info h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 1em !important;
    font-weight: 400;

    max-height:1rem;
    width:100%;

    opacity: 0.7;
}

.sidebar-profile #user-info #date {
    min-width: fit-content;
    max-width: fit-content;

    margin-left:1ch;
}

.sidebar-profile img {
    height:3rem;
    margin:0 1rem;

    border-radius:1000px;
}

.sidebar-profile.unread h1, .sidebar-profile.unread h2 {
    opacity: 1 !important;
    font-weight: 1000 !important;
}
/* #endregion */

/* #region chatbox */
#chatbox {
    /* background:var(--background); */
    width:100%;
    height: 100%;
}

/* #region profile */
#chatbox #profile {
    background:var(--secondary);

    display:flex;
    justify-content: left;
    align-items: center;

    width:100%;
    height:5rem;

    border-bottom:solid;
    border-bottom-width:2px;
    border-color:var(--accent);
}

#chatbox #profile h1 {
    font-size:2.1rem;
    font-weight:100;
}

#chatbox #profile img {
    height:60%;

    margin:0 1rem 0 1rem;
    border-radius:100rem;
}
/* #endregion */

#chat-parent {
    position: relative;

    background:var(--background);

    display:flex;
    justify-content: start;
    align-items: center;

    flex-direction: column;

    height: calc(100% - 5rem - 2px);
    /* (height) - (profile height) - (bottom border width) */
    width: 100%;
}

#chat-parent #chat-content {
    background:black;

    min-height:100%;
    width:100%;
}

/* #region input section */
#chat-parent #input-section {
    position: absolute;

    display:flex;
    justify-content: start;
    align-items: center;

    background:var(--secondary);

    bottom:0;
    z-index: 100;

    width: calc(100% - 10rem);
    height:2.5rem;
    margin-bottom:2rem;

    padding:0.5rem;

    border-radius:100rem;
}

#chat-parent #input-section input {
    flex:1;

    border:none;
    outline:none;

    height:100%;
    min-width: none !important;

    padding:0 1rem;

    font-size: 2rem;
    font-weight: 100;

    color:var(--text);

    background: none;

    border:solid;
    border-width:2px;
    border-color:var(--accent);

    border-radius:1000rem;
}

#chat-parent #action-buttons {
    height:100% !important;

    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

#chat-parent #action-buttons > div:last-child {
    margin-right:0;
}

#chat-parent #action-buttons > div {
    display:flex;
    justify-content: center;
    align-items: center;

    height:100%;
    aspect-ratio: 1;

    margin-right:0.5rem;

    border-radius:100rem;

    background:var(--accent);
}

#chat-parent #action-buttons img {
    height:60%;
}

#chat-parent #input-section hr {
    height:100%;

    margin:0.5rem;

    border:solid;
    border-color:var(--accent);
    border-width: 2px;
    border-radius:100rem;
}
/* #endregion */
/* #endregion */
